{% extends 'base.html.twig' %}




{% block content %}

        

        

                    <!-- Table section -->
                    <div class="w-full md:w-3/4 px-4">
                        <div class="p-4 rounded">
                            <!-- Table content -->
                            <div>
                                <table class="text-sm text-left w-full">
                                    <caption class="p-5 text-lg font-bold text-left  text-white shadow-2xl">
                                        <div class="flex">
                                            <div>
                                                Mes Reclamations:
                                                <p class="mt-1 text-sm font-normal white">Vous pouvez gérer vos Reclamations éxistantes ou ajouter une nouvelle Reclamation.</p>
                                            </div>

                                            <a href="{{ path('app_reclamation_new')}}" class="ml-auto inline-flex items-center justify-center self-end px-2 py-2 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700">
                                                Ajouter une Reclamation
                                                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                            </a>
                                        </div>
                                    </caption>



                                    <thead class="text-xs  whitespace-nowrap uppercase bg-gray-700 text-gray-300">

                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Date
                                        </th>
                                        <th scope="col"  class="px-6 py-3" >
                                            Déscription
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Type Reclamation
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Action
                                        </th>
                                       <th scope="col" class="px-6 py-3">
                                           Message
                                        </th>


                                    </tr>
                                    </thead>
                                    <tbody id="prev-tab">
                                     {% for reclamation in reclamations %}
                                        <tr class="ligne text-white  whitespace-nowrap ">
                                            <th scope="row" class="px-6 py-4">
                                               {{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}
                                            </th>
                                            <td class="px-6 py-4" style="min-width: 250px;">
                                               {{ reclamation.description }}
                                            </td>
                                            <td class="px-6 py-4">
                                               {{ reclamation.typeReclamation }} 
                                            </td>
                                            
                                           <td class="px-6 py-4 whitespace-no-wrap">
                    <a href="{{ path('app_reclamation_edit', {'idReclamation': reclamation.idReclamation}) }}" class="font-medium  hover:underline ml-3">Modifier</a>
                    <td class="px-6 py-4 whitespace-no-wrap">
                    <a href="{{ path('app_reclamation_messages', {'idReclamation': reclamation.idReclamation}) }}" class=" hover:underline ml-3">Messages</a>
                </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tbody id="new-tab"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



       



{% endblock %}