{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block content %}
    <h1>Messages</h1>

    <p><strong>Sujet:</strong> {{ suiviReclamation.sujet }}</p>
    <p><strong>Motif:</strong> {{ suiviReclamation.motif }}</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
