{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdReclamation</th>
                <td>{{ reclamation.idReclamation }}</td>
            </tr>
            <tr>
                <th>DateReclamation</th>
                <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reclamation.description }}</td>
            </tr>
            <tr>
                <th>TypeReclamation</th>
                <td>{{ reclamation.typeReclamation }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reclamation.email }}</td>
            </tr>
            <tr>
                <th>nombre vue</th>
                <td>{{ reclamation.nbr_vue }}</td>
            </tr>

        </tbody>
    </table>
     {{ form_start(form) }}
    {{ form_widget(form) }}
   
    <button class="btn">{{ button_label|default('modifier') }}</button>
{{ form_end(form) }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    

   
{% endblock %}
