{% extends 'admin/AdminDashboard.html.twig' %}

{% block title %}Edit Evenement{% endblock %}


{% block body %}


    <div class="container mx-auto px-4 py-4">
        <div class="my-4 px-4">
            <div class="text-center">
                <h1 class="font-weight-bold text-center text-primary display-1">Modifier un evenement</h1>
            </div>
                {{ form_start(form) }}
                <div class="form-group text-primary">
                    {{ form_label(form.nomevenement, 'Nom évènement', {'label_attr': {'class': 'text-primary', 'style': 'color: black;' }}) }}


                    {{ form_widget(form.nomevenement, {'attr': {'class': 'form-control', 'style': 'background-color: white;'}}) }}
                    {{ form_errors(form.nomevenement) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.dateevenement, 'Date évènement', {'label_attr': {'class': 'text-primary', 'style': 'color: black;' }}) }}
                    {{ form_widget(form.dateevenement, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.dateevenement) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.inviter,'Invité', {'label_attr': {'class': 'text-primary', 'style': 'color: black;' }}) }}
                    {{ form_widget(form.inviter, {'attr': {'class': 'form-control', 'style': 'background-color: white;'}}) }}
                    {{ form_errors(form.inviter) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.descriptionevenement,'Description', {'label_attr': {'class': 'text-primary', 'style': 'color: black;' }}) }}
                    {{ form_widget(form.descriptionevenement, {'attr': {'class': 'form-control', 'style': 'background-color: white;'}}) }}
                    {{ form_errors(form.descriptionevenement) }}
                </div>


                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Modifier</button>
                </div>
                {{ form_end(form) }}

        </div>
    </div>


{% endblock %}







