{% extends 'admin/AdminDashboard.html.twig' %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script defer src="{{ asset('search.js') }}" type="module"></script>

    {% endblock %}
    {% block search %}
        <input type="text" id="search-dropdown" class="form-control" placeholder="Search...">
    {% endblock %}
{% block formations %}
    <li class="active">
        <a href="tables.html">
            <i class="now-ui-icons design_bullet-list-67"></i>
            <p>Les Formations</p>
        </a>
    </li>
{% endblock %}
{% block content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                Gérer les formations:</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th>
                                        Nom Formation
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Duree
                                    </th>
                                    <th>
                                        Prix
                                    </th>
                                    <th>
                                        Supprimer
                                    </th>
                                    </thead>
                                    <tbody id="prev-tab">
                                    {% for formation in formations %}
                                        <tr>
                                            <td>
                                                {{ formation.NomFormation|upper() }}
                                            </td>
                                            <td>
                                                {{ formation.description }}
                                            </td>
                                            <td>
                                                {{ formation.duree  }}
                                            </td>
                                            <td>
                                                {{ formation.prix }}
                                                TND
                                            </td>


                                            <td>

                                                <form method="post" action="{{ path('app_formation_delete', {'idFormation': formation.idFormation}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet élément ?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.idFormation) }}">
                                                    <button class="btn">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24">
                                                            <path d="M0 0h24v24H0V0z" fill="none"/>
                                                            <path d="M19 7h-3V6c0-1.1-.9-2-2-2H10c-1.1 0-2 .9-2 2v1H5v2h14V7zm-9-1h4v1h-4V6zM4.5 9h15l-1.39 12.63c-.08.69-.67 1.37-1.36 1.37H7.35c-.69 0-1.28-.68-1.36-1.37L4.5 9zm7.5 10c.92 0 1.67.75 1.67 1.67S13.92 22 13 22s-1.67-.75-1.67-1.67.75-1.67 1.67-1.67zm4.92-7l-.71-4H9.79l-.71 4h9.34z"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                    <tbody id="new-tab"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
</div>
{% endblock %}



