{% extends 'admin/AdminDashboard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>


    </style>
{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ asset('AdminDashboard/js/core/bootstrap.min.js') }}"></script>
        <script>
            $(document).ready( function () {
                $('.delModal').on('click' , function () {

                    idFormation = $(this).data('id')
                    if ($('#table-'+idFormation).children().length === 0) {
                        $.ajax({
                            url: '/admin/formation/listeInscrits', // replace with the URL of your controller action
                            type: 'GET',
                            'data' : {
                                'id' : idFormation,
                            },
                            success: function(response) {
                                let data = JSON.parse(response);
                                let rows = '';
                                $.each(data, function(i, item) {
                                    rows += '<tr>';
                                    rows += '<td>' + item.inscription.idInscription + '</td>';
                                    rows += '<td>' + item.inscription.idUser.email + '</td>';
                                    rows += '<td>' + item.progress + '%' + '</td>';
                                    rows += '<td>' + item.inscription.idFormation.prix + ' TND' + '</td>';
                                    rows += '<td>' + item.refund  + ' TND' + '</td>';
                                    rows += '</tr>';
                                });
                                $('#table-'+idFormation).html(rows);
                            },
                            error: function(xhr, status, error) {
                                // handle any error
                                console.log(error);
                            }
                        })
                    }

                })

            })
        </script>
    {% endblock %}

{% block formations %}
    <li class="active">
        <a href="tables.html">
            <i class="now-ui-icons design_bullet-list-67"></i>
            <p>Les Formations</p>
        </a>
    </li>
{% endblock %}
{% block body %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                Gérer les formations:</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                   	<thead class=" text-primary">
												<th>
													ID RÉCLAMATION

												</th>
												<th>
													DATE RÉCLAMATION
												</th>
												<th>
													DESCRIPTION

												</th>
												<th>
													TYPE RÉCLAMATION

												</th>
												
												
												<th class="text-right">
													Action
												</th>
											</thead>
                                    <tbody>
                                    {% for reclamation in reclamations %}
                                        <tr>
                                            <td>
                                                {{ reclamation.idReclamation }}
                                            </td>
                                            <td>
                                               {{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}
                                            </td>
                                            <td>
                                                {{ reclamation.description }}
                                            </td>
                                            <td>
                                                {{ reclamation.typeReclamation }}
                                              
                                            </td>

                                              <td>
                    <a href="{{ path('app_reclamation_show', {'idReclamation': reclamation.idReclamation}) }}"class="font-medium text-blue-600 dark:text-blue-500 hover:underline border-2">show</a>
                    {{ include('reclamation/_delete_form.html.twig') }}
                </td>

                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
</div>
{% endblock %}



