{% extends 'admin/AdminDashboard.html.twig' %}





 {% block reclamations %}
     <li class="active">
         <a href="{{ path('app_reclamation_back') }}">
             <i class="now-ui-icons design_bullet-list-67"></i>
             <p>Les Réclamations</p>
         </a>
     </li>
 {% endblock %}
{% block body %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                Gérer les réclamations:</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                   	<thead class=" text-primary">
												<th>
													ID

												</th>
												<th>
													DATE RÉCLAMATION
												</th>
												<th>
													DESCRIPTION

												</th>
												<th>
													TYPE RÉCLAMATION

												</th>
                                                <th>
                                                    ETAT RÉCLAMATION

                                                </th>

												
												
												<th colspan="1">

												</th>
											</thead>
                                    <tbody>
                                    {% for reclamation in reclamations %}
                                        <tr>
                                            <td>
                                                {{ reclamation.idReclamation }}
                                            </td>
                                            <td>
                                               {{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}
                                            </td>
                                            <td>
                                                {{ reclamation.description }}
                                            </td>
                                            <td>
                                                {{ reclamation.typeReclamation }}

                                            </td>
                                            <td>
                                                {{ reclamation.etat }}

                                            </td>



                                              <td>
                                                  <div class="d-flex justify-content-between w-100">
                                                      <a href="{{ path('app_reclamation_show', {'idReclamation': reclamation.idReclamation}) }}" class="btn btn-primary">Répondre</a>
                                                      <a>
                                                          <form method="post" action="{{ path('app_reclamation_delete', {'idReclamation': reclamation.idReclamation}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                                              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.idReclamation) }}">
                                                              <button class="btn btn-danger">Supprimer</button>
                                                          </form>
                                                      </a>
                                                  </div>

                                              </td>

                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
</div>
{% endblock %}



