{% extends 'admin/AdminDashboard.html.twig' %}




{% block stages %}
	<li class="active">
		<a href="{{ path('app_admin_stagesback') }}">
			<i class="now-ui-icons design_bullet-list-67"></i>
			<p>Les stages</p>
		</a>
	</li>
{% endblock %}
{% block body %}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">
							Gérer les stages</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead class=" text-primary">
								<th>
									Id
								</th>
								<th>
									Poste
								</th>
								<th>
									nom Entreprise
								</th>
								<th>
									adresse
								</th>
								<th>
									duree
								</th>
								<th>
									Type
								</th>
								<th class="text-left">
									Supprimer
								</th>
								</thead>
								<tbody>
								{% for stage in stages %}
									<tr>
										<td>
											{{ stage.idStage }}
										</td>
										<td>
											{{ stage.poste}}
										</td>
										<td>
											{{ stage.nomEntreprise }}
										</td>
										<td>
											{{ stage.adresseStage }}
										</td>
										<td>
											{{ stage.dureeStage }}
										</td>
										<td>
											{{ stage.typeStage }}
										</td>


										<td>
											<form method="post" action="{{ path('app_stage_delete', {'idStage': stage.idStage}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stage.idStage) }}">
												<button class="btn">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24">
														<path d="M0 0h24v24H0V0z" fill="none"/>
														<path d="M19 7h-3V6c0-1.1-.9-2-2-2H10c-1.1 0-2 .9-2 2v1H5v2h14V7zm-9-1h4v1h-4V6zM4.5 9h15l-1.39 12.63c-.08.69-.67 1.37-1.36 1.37H7.35c-.69 0-1.28-.68-1.36-1.37L4.5 9zm7.5 10c.92 0 1.67.75 1.67 1.67S13.92 22 13 22s-1.67-.75-1.67-1.67.75-1.67 1.67-1.67zm4.92-7l-.71-4H9.79l-.71 4h9.34z"/>
													</svg>
												</button>
											</form>
										</td>
									</tr>

								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

{% endblock %}



