{% extends 'base.html.twig' %}

{% block title %}Prerequis index{% endblock %}

{% block body %}
    <h1>Prerequis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPrerequis</th>
                <th>NiveauEtude</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prerequi in prerequis %}
            <tr>
                <td>{{ prerequi.idPrerequis }}</td>
                <td>{{ prerequi.niveauEtude }}</td>
                <td>{{ prerequi.description }}</td>
                <td>
                    <a href="{{ path('app_prerequis_show', {'idPrerequis': prerequi.idPrerequis}) }}">show</a>
                    <a href="{{ path('app_prerequis_edit', {'idPrerequis': prerequi.idPrerequis}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
